
                <h4>Clapham Junction to Farnborough (Main)</h3>
                <br>
                <br>
            
                <b>06:49 &nbsp; Portsmouth Harbour &nbsp; &nbsp; &nbsp; Exp:06:49</b>
                <p>Status: No Report &nbsp; &nbsp; Platform: 9</p>
                <p>ETA Farnborough (Main): 07:32</p>
                <br>
            
                <b>07:20 &nbsp; Basingstoke &nbsp; &nbsp; &nbsp; Exp:07:20</b>
                <p>Status: On Time &nbsp; &nbsp; Platform: 9</p>
                <p>ETA Farnborough (Main): 08:05</p>
                <br>
            
                <b>07:45 &nbsp; Poole &nbsp; &nbsp; &nbsp; Exp:07:45</b>
                <p>Status: On Time &nbsp; &nbsp; Platform: 9</p>
                <p>ETA Farnborough (Main): 08:13</p>
                <br>
            
                <b>08:19 &nbsp; Basingstoke &nbsp; &nbsp; &nbsp; Exp:08:19</b>
                <p>Status: On Time &nbsp; &nbsp; Platform: 9</p>
                <p>ETA Farnborough (Main): 09:02</p>
                <br>
            